<h1>Lista de restaurantes</h1>

<h4>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</h4>

<%= link_to "Adicione um restaurante", restaurants_new_path, class: 'btn btn-primary' %>
